<!DOCTYPE html>
   {{>header}} <!-- points to header.hbs handlebars partial -->
<body>
 
    <div class="div container">
        <div class="row">
            <div class="col">
            <h3> Welcome To Flight!</h3>
            
            <p>Flight is a simplified video sharing & streaming website that's ad-free and user-friendly!
                Create an account today and start uploading and watching videos!</p>

                <a class="btn btn-primary" href="registration.html" role="button">Create An Account Today!</a>
                <p id="small">or login <a href="login.html">here</a></p>
            </div>

            <div class="col">
            <img class="img-responsive" src="../media/city1.gif" alt="picture of a city gif">
            </div>
        </div>
    </div>  

    <div class="flex-container">
        <h3>Videos Uploaded To Site: &ThinSpace;<h3 id="site-videos"> </h3> </h3>
    </div>

    <div id="video-gallery" class="flex-container">
        <!-- divs created thru for loop in JS-->
    </div>


    <div class="div">
        <footer>
            <p>CSC 317 Web Dev Project</p>
            <p>© Ethan Zheng 2023</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
</body>
</html>