<!DOCTYPE html>
{{>header}}
{{!-- <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/cbf60cc09c.js" crossorigin="anonymous"></script> <!-- icons test-->
    <div id="nav-wrapper">
        <nav class="grid-container container">
            <div class="row">

                <div class="grid-content col">
                    <!-- <i class="fa-solid fa-plane fa-bounce" style="color: #edef81;"></i> -->
                    <h1 class="icons"> <i class="fa-solid fa-plane"></i> FlightTube</h1>
                    
                </div>

                <div class="grid-content col">
                    <a href="index.html" class="active">Landing Page</a>
                </div>

                <div class="grid-content col"> 
                    <a href="login.html">Login Page</a>
                </div>

                <div class="grid-content col">
                    <a href="registration.html">Registration Page</a>
                </div>

                <div class="grid-content col">
                    <a href="postvideo.html">Post Video Page</a>
                </div>

                <div class="grid-content col">
                    <a href="viewpost.html">View Post Page</a>
                </div>
            </div>
        </nav>
    </div>
</head> --}}
<body>
    <div class="div container">
        <div class="row">
            <div class="col-5">
                <div>
                    <h4> Welcome Back! Please enter your username & password to login. </h4>
                </div>
            </div>

            <div class ="col-6">
                    <form>
                        <div>
                        <label>Username: </label>
                        <input class="input" type="username">
                        </div>
                        
                        <div>
                        <label>Password: </label>
                        <input class="input" type="password">
                        </div>
                    
                        <div>
                        <input class="submit" type="submit">
                        </div>
                    </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto">
                <h4>New to Flight? Create a new account <a href="/registration">here</a></h4>
            </div>
            <!-- <div class="col-3">

            </div> -->
        </div>
    </div>
        
    </div>

    <div class="div">
        <footer>
            <p>CSC 317 Web Dev Project</p>
            <p>© Ethan Zheng 2023</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
    
</body>
</html>