<!DOCTYPE html>
{{>header}}
<body>
    <div class="div container">
        <div class="row">
            <div class="col-5">
                <div>
                    <h4> Welcome Back! Please enter your username & password to login. </h4>
                    <img class="scale-down" src="../public/media/plane.png" alt="plane picture">
                    <img class="scale-down" src="../public/media/plane.png" alt="plane picture">
                    <img class="scale-down" src="../public/media/plane.png" alt="plane picture">
                </div>
            </div>

            <div class ="col-6">
                    {{> flashmessage this}}
                    <form class="form-input" action="/users/login" method="post">
                        <div>
                        <label>Username: </label>
                        <input class="input" type="username" name="username">
                        </div>
                        
                        <div>
                        <label>Password: </label>
                        <input class="input" type="password" name="password">
                        </div>
                    
                        <div class="spacing">
                        {{!-- <input class="submit" type="submit"> --}}
                        <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto">
                <h4>⠀⠀New to Flight? Create a new account <a href="/registration">here</a></h4>
            </div>
            <!-- <div class="col-3">

            </div> -->
        </div>
    </div>
        
    </div>

    <div class="div">
        <footer>
            <p>CSC 317 Web Dev Project</p>
            <p>© Ethan Zheng 2023</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
    
</body>
</html>