<!DOCTYPE html>
{{>header}}
<body>
    <div class="div container">
        <h4>
            Post a video for the world to see!
        </h4>
        <form>
            <label>Post Title: </label>
            <input class="input" type="text">
            <br><br>

            <label>Post Description: </label>
            <input class="input" type="text">
            <br><br>
            
            <label>Video File: </label>
            <input class="submit input" type="file">
            <br><br>

            <input class="checkbox1" type="checkbox">
            <label>I agree to accept the <a href="">Acceptable Use Policy</a> for uploading videos to this site.</label>
            <br><br>

            <input class="submit input" type="submit"> 
        </form>
    </div>

    <div class="div">
        <footer>
            <p>CSC 317 Web Dev Project</p>
            <p>© Ethan Zheng 2023</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
</body>
</html>