<!DOCTYPE html>
{{>header}}
{{!-- <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/cbf60cc09c.js" crossorigin="anonymous"></script> <!-- icons test-->
    <script defer src="../js/validation.js"></script>
    <div id="nav-wrapper">
        <nav class="grid-container container">
            <div class="row">

                <div class="grid-content col">
                    <!-- <i class="fa-solid fa-plane fa-bounce" style="color: #edef81;"></i> -->
                    <h1 class="icons"> <i class="fa-solid fa-plane"></i> FlightTube</h1>
                    
                </div>

                <div class="grid-content col">
                    <a href="index.html" class="active">Landing Page</a>
                </div>

                <div class="grid-content col"> 
                    <a href="login.html">Login Page</a>
                </div>

                <div class="grid-content col">
                    <a href="registration.html">Registration Page</a>
                </div>

                <div class="grid-content col">
                    <a href="postvideo.html">Post Video Page</a>
                </div>

                <div class="grid-content col">
                    <a href="viewpost.html">View Post Page</a>
                </div>
            </div>
        </nav>
    </div>
</head> --}}
<body>
    <div class="div container">
        <h4>Welcome! Please register below.</h4>
        <form>
        <div class="spacing">
            <label>Enter your email: </label>
            <input class="input" type="email" id="email">
        </div>
        <div class="spacing">
            <label>Create a Username: </label>
            <input id="username-textbox" class="input" type="username">
        </div>
        <div class="spacing">
            <label>Create a Password: </label>
            <input id="password-textbox" class="input" type="password">
        </div>
        <div class="spacing">
            <label>Re-type Password: </label>
            <input id="retype-textbox" class="input" type="password">
        </div>
        <div class="spacing">
            <input required type="checkbox">
            <label>I am 13+ years of age</label>
        </div>
        <div class="spacing">
            <input required class="checkbox" type="checkbox">
            <label>I agree to the <a href="">TOS and Privacy Rules</a></label>
        </div>
        <div class="spacing">
            <input class="submit" type="submit">
        </div>
        </form>
    </div>

    <div class="div">
        <footer>
            <p>CSC 317 Web Dev Project</p>
            <p>© Ethan Zheng 2023</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
</body>
</html>