<!DOCTYPE html>
{{>header}}
<body>
    <div class="div container">
        <h4>Welcome! Please register below.</h4>
        <form id="form" class="form-input" action="/users/registration" method="post"
        enctype="application/x-www-form-urlencoded">
        <div class="spacing">
            <label>Enter your email: </label>
            <input class="input" type="email" id="email" name="email">
        </div>
        <div class="spacing">
            <label>Create a Username: </label>
            <input id="username-textbox" class="input" type="username" name="username">
        </div>
        <div class="spacing">
            <label>Create a Password: </label>
            <input id="password-textbox" class="input" type="password" name="password">
        </div>
        <div class="spacing">
            <label>Re-type Password: </label>
            <input id="retype-textbox" class="input" type="password" name="confirm-password">
        </div>

{{!-- 
        <div class="spacing">
            <input required type="checkbox">
            <label>I am 13+ years of age</label>
        </div> 
         <div class="spacing">
            <input required class="checkbox" type="checkbox">
            <label>I agree to the <a href="">TOS and Privacy Rules</a></label>
        </div> --}}

        <div class="spacing">
        <div class="form-check">
            <input required class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                I am 13+ years of age
            </label>
        </div>
        </div>

        <div class="spacing">
        <div class="form-check">
            <input required class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                I agree to the <a href="">TOS and Privacy Rules</a>
            </label>
        </div>
        </div>

        <div class="spacing">
            {{!-- <input class="submit" type="submit"> --}}
            <button type="submit" class="btn btn-success">Create Account</button>
         </div>

    </form>
    </div>

    <div class="div">
        <footer>
            <p>CSC 317 Web Dev Project</p>
            <p>© Ethan Zheng 2023</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
</body>
</html>