body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige;
}

a {
  color: #00B7FF;
}

a:hover {
  color: gray;
}

.submit {
  padding: 10px;
  border-radius: 10px;
  /* border: none; */
  border: 1px solid black; 
}

.submit:hover {
  background-color: lightblue;
  cursor: pointer;
  transition: all .25s ease-in;
}

/* .checkbox1 {
  background-color: lightgreen;
}

.checkbox1:checked {
  background-color: darkgreen;
} */

input[type=text] {
  background-color: lightgray;
}

input[type=text]:hover {
  background-color: lightcyan;
}

input[type=checkbox]:hover {
  cursor: pointer;
}


/* div {
  
} */

footer {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 15px;
}

.grid-content {
  /* border: 1px solid black; */
  padding: 5px;
  text-align: center;
}

#nav-wrapper {
  background-color: lightblue;
  border-radius: 10px;
  padding: 5px;
}

.active {
  color: green;
}