body {
  padding: 50px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige;
  background-image: url(../media/city2.gif);
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  opacity: 85%;
}

a {
  color: #00B7FF;
}

a:hover {
  color: gray;
}

.black {
  color: black;
}

.black:hover {
  color: green;
}

.div-active:hover {
  background-color: lightblue;
}

div:hover {
  background-color: lightblue;
}

#nav-wrapper:hover {
  background-color: lightblue;
}



#small {
  font-size: 20px;
}

.submit {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  /* border: none; */
  border: 1px solid black; 
  margin: 10px auto auto auto;
}

.submit:hover {
  background-color: lightblue;
  cursor: pointer;
  transition: all .25s ease-in;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.icons {
  font-size: 22px;
  font-family: 'Courier New', monospace;
}

footer {
  text-align: center;
}

.grid-container {
  padding: 15px;
}

.grid-content {
  padding: 5px;
  text-align: center;
}

.grid-login {
  display: grid;
  grid-template-columns: auto auto;
  padding: 15px;
}

.grid-content-login {
  padding: 5px;
  text-align: left;
}


#nav-wrapper {
  background-color: #B2BEB5;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  /* background-image: url(../media/city1.gif);
  opacity: 90%; */
}

.active {
  color: green;
}

.div {
  /* margin: 200px 400px 5px 400px; */
  margin: 200px auto auto auto;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  /* background-color: lightblue; */
  background-color:  #B2BEB5;
  
  border-radius: 10px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.img-responsive {
  width: 100%;
  height: auto;
}

.input {
  background-color: lightcyan;
  border-radius: 12px;
  color: black;
  font-size: 25px;
  outline: 0;
  /* padding: 4px 20px 0; */
  margin: 5px auto auto auto;
}

.input:invalid { /* invalid state */
  background-color: lightcoral;
}


.input:hover {
  background-color: lightgray;
}

.left {
  width: 70%;
  margin: 100px 50px 50px 50px;
}

.right {
  width: 50%;
  margin: 100px;
}

footer {
  text-align: center;
  padding: 15px;
  font-size: 15px;
}

.spacing {
  padding: 15px;
}

.comments {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 1px 15px 15px 15px;
  margin: 10px 0px 0px 0px;
}

.comments:hover {
  background-color: lightslategrey;
}

.flex-container {
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background:  #B2BEB5;
  border-radius: 10px;
  margin: 50px 0px 0px 0px;
  padding: 10px;
}

.flex-container > div {
  background-color: beige;
  width: 170px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  line-height: 55px;
  font-size: 15px;
  padding: 15px;
}


@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

video {
  width: auto;
  height: auto;
}

#video {
  width: 500px;
  height: auto;
}

.scale-down {
  height: 100px;
  width: 100px;
}